.about .hero {
  height: 500px;
  background-image: url(https://meal-tada.s3.amazonaws.com/_general/pork-and-veggies.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about p {
  margin: 0;
}
