.search-container {
  font-size: 14px;
  margin: 0 0 25px;
}

.search-input {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  padding: 10px;
  border-right: none;
  z-index: 1;
  width: 100%;
}

.search-container button img {
  width: 24px;
  height: 24px;
}
