.image-scramble-wrapper-placeholder {
  overflow: hidden;
  border: 1px solid gray;
}

.image-pieces-placeholder {
  background-repeat: no-repeat;
  background-size: contain;
  animation: blur 0.5s linear infinite alternate;
}

@keyframes blur {
  from {
    filter: blur(0.25em);
  }

  to {
    filter: blur(0.75em);
  }
}

.image-scramble-wrapper {
  position: relative;
  margin: 0 auto;
}

#image-scramble-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 210px;
  height: 210px;
  margin: 0 auto;
  box-shadow: inset 0 0 0 1px gray, 0 0 0 1px gray;
  cursor: move;
}

div[data-i] {
  position: absolute;
  width: 70px;
  height: 70px;
  box-shadow: inset 0 0 0 1px gray;
  background-repeat: no-repeat;
  background-size: contain;
}

.dragging {
  opacity: 0.2;
}

.move {
  z-index: 10;
  transition: top 0.25s ease, left 0.25s ease;
}

div[data-i].winner {
  animation: winner 0.2s ease forwards;
  cursor: auto;
}

@keyframes winner {
  to {
    box-shadow: none;
  }
}

p.total-moves {
  text-align: center;
  margin: 0;
}

#image-scramble-confetti {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
  /* width is set via JavaScript */
}

.image-scramble-title-card {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.5);
  animation: fade-in 1.5s linear;
  z-index: 2;
  cursor: default;
}

.image-scramble-title-card h5 {
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.image-scramble-title-card button {
  background-color: rgba(255, 255, 255, 0.5);
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@media (min-width: 576px) {
  #image-scramble-container {
    width: 510px;
    height: 510px;
  }
  div[data-i] {
    width: 170px;
    height: 170px;
  }
  p.total-moves {
    font-size: 1.25em;
  }
}

@media (min-width: 992px) {
  #image-scramble-container {
    width: 210px;
    height: 210px;
  }
  div[data-i] {
    width: 70px;
    height: 70px;
  }
  p.total-moves {
    font-size: 1em;
  }
}

@media (min-width: 1200px) {
  #image-scramble-container {
    width: 255px;
    height: 255px;
  }
  div[data-i] {
    width: 85px;
    height: 85px;
  }
}
