.kent-and-amy-container {
  background-color: #ebebeb;
  padding: 1.5rem;
}

.kent-and-amy-container img {
  width: 200px;
  height: 200px;
}

div.kent-and-amy-container p a.read-more.btn {
  position: relative;
  left: 0.5rem;
}

@media (max-width: 767px) {
  div.kent-and-amy-container p a.read-more.btn {
    position: initial;
    display: block;
    margin: 1rem 0 0;
  }
}
