.card h2 {
  font-size: 1.5rem;
  text-align: center;
}

.card h3 {
  font-size: 1rem;
  text-align: center;
}

.card .thumbnail {
  width: 25%;
  background: url(../../images/steak.jpg) center / cover no-repeat;
}

.card .card-summary {
  width: 75%;
}
