#tab-1 #search-form input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

#tab-1 #search-form button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
