[id^='tab-'] #search-form input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

[id^='tab-'] #search-form button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
