table {
  display: block;
  border-radius: 5px;
}

tbody {
  cursor: pointer;
  display: block;
  max-height: 245px;
  overflow-y: scroll;
}

thead,
th,
tr,
td {
  display: block;
}

td div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

i.fas.fa-trash-alt:hover {
  color: rgb(220, 53, 69);
  transition: color 0.2s ease;
}
